#top {
    padding: 1rem;
    font-size: 15vw;
    text-align: center;
}

#bottom {
    position: fixed;
    bottom: 5vmin;
    left: 5vmin;
    right: 5vmin;
}

#bottom button {
    background-color: #fff;
    border: 0;
    width: 100%;
    padding: 1rem;
    margin-top: 5vmin;
    text-align: center;
    font-size: 1.25rem;
    border-radius: 0.5rem;
}

.button_back {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
    background-color: #18181888;
    border-bottom-right-radius: 1rem;
    position: fixed;
}